<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>shared-service</id>
      <username>ovidiu07</username>
      <password>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</password>
    </server>
  </servers>
</settings>
